body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
    transition: 0.3s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #16a34a;
    color: white;
}

    nav ul {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

#temaBtn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: #0f172a;
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.panel {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px;
    background: #16a34a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #0f172a;
    color: white;
}

/* DARK MODE */

.dark {
    background: #111827;
    color: white;
}

    .dark .card,
    .dark .panel {
        background: #1f2937;
        color: white;
    }
