body {
    margin: 0;
    font-family: Arial,sans-serif;
    background: #f4f6f9;
    transition: .3s;
}

nav {
    background: #22c55e;
    padding: 15px;
}

    nav ul {
        display: flex;
        justify-content: center;
        gap: 25px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

.tema-alani {
    text-align: center;
    padding: 15px;
}

#temaButonu {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

header {
    background: #0f172a;
    color: white;
    padding: 60px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
}

.card {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    text-align: center;
}

.grafik,
.hakkinda,
.oneriler,
.iletisim,
.hesaplayici {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

    .oneriler li {
        margin-bottom: 10px;
    }

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 12px;
    border: none;
    background: #22c55e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.dark-mode {
    background: #111827;
    color: white;
}

    .dark-mode .card,
    .dark-mode .grafik,
    .dark-mode .hakkinda,
    .dark-mode .oneriler,
    .dark-mode .iletisim,
    .dark-mode .hesaplayici {
        background: #1f2937;
        color: white;
    }
